{% extends "template.html" %}
{% block menu %}
<li><a href="{{url_for('home')}}">Home</a></li>
<li class="active"><a href="{{url_for('sudoku')}}">Solver</a></li>
<li><a href="{{url_for('play')}}">Play</a></li>
<li><a href="{{url_for('about')}}">About</a></li>
{% endblock %}
{% block content %}
<article>
    <div id="centering">
        <header>
            <h1> Enter puzzle to solve: </h1>
        </header>
        <div class="game-container">
            <div class="grid-container">
                <form action="{{ url_for('solution') }}" method="post" name="sudoku-input">
                    {% for i in range(9) %}
                    <div class="grid-row">
                        {% for j in range(9) %}
                        <div class="grid-cell">
                            <input type="text" maxlength="1" autocomplete="off" name='cell-input[{{ j+i*9 }}]' class="def-txt-input">
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <div class="button-container">
                        <input type="submit" value="Solve" class="btn btn-primary btn-block">
                        <button id="clear-btn" type="button" class="btn btn-secondary btn-block">Clear</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="cleaner" style="height: 110px"></div>
    </div>
</article>

{% endblock %}